{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}

<div class="containe mt-4">
<h2>valider nos commentaires</h2>
</div>
{{form ('form')}}




{% endblock %}
